body {
    background-color: #f7f7f7;
}
.container {
    background-color: white;
}
* {
    font-family: 'EB Garamond', serif;
    font-size: large;
}
.justified {
    text-align: justify;
    text-justify: inter-word;
}
.nowrap {
    white-space: nowrap;
}
a {
    color: RoyalBlue;
}
a:hover {
    color: RoyalBlue;
}
.btn-link {
    color: RoyalBlue;
}
.btn-link:hover {
    color: RoyalBlue;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
    margin-bottom: -1ex;
}
h3 {
    font-size: large;
    font-weight: 500;
}
h4 {
    font-size: large;
    font-weight: 500;
    font-style: italic;
}
hr {
    border-color: #6c757d;
}
.showAbstract[aria-expanded="false"]::after {
    font-family: FontAwesome;
    content: " \f078";
}
.showAbstract[aria-expanded="true"]::after {
    font-family: FontAwesome;
    content: " \f077";
}