body {
}
.justified {
    text-align: justify;
    text-justify: inter-word;
}
.large {
    font-size: 1em;
}
.nowrap {
    white-space: nowrap;
}
h1 {
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
}
h2 {
    font-size: 1.5em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    font-family: "Open Sans", sans-serif;
}
h3 {
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: .5em;
    font-family: "Open Sans", sans-serif;
}
h4 {
    font-size: 1em;
}
.showAbstract[aria-expanded="false"]::after {
    font-family: FontAwesome;
    content: " \f078";
}

.showAbstract[aria-expanded="true"]::after {
    font-family: FontAwesome;
    content: " \f077";
}